<div class="row main-content">
  <div class="container-fluid">
		<div class="row">
      <div class="col-12">
        <h5 class="main-page-title">Edit Project</h5>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
			<div class="row">
				<div class="col-12 col-lg-10 col-xl-8">
					<div class="innerpage-container">
            <div class="form">
              <form class="validate" action="/projects/<%=project._id%>?_method=PUT" method="POST">
                <div class="form-group">
                	<label for="project-name"><strong>Project Summary</strong></label>
                	<input id="project-name"class="form-control" type="text" value="<%=project.name%>" maxlength="80" name="project[name]"
                	required/>
                </div>
                <fieldset class="form-group">
                  <lable><strong>PTA?</strong></lable>
                  <div class="form-check">
                    <% let checked = (project.isPTA == true) ? "checked" : ""; %>
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="true" name="project[isPTA]" id="optionsRadiosYes" <%=checked%>>
              				Yes
              			</label>
                  </div>
                  <div class="form-check">
                    <% checked = (project.isPTA == false) ? "checked" : ""; %>
                  	<label class="form-check-label">
                      <input type="radio" class="form-check-input" value="false" name="project[isPTA]" id="optionsRadiosNo" <%=checked%>>
              				No
              			</label>
                  </div>
                </fieldset>
                <div class="form-group">
                	<label for="description"><strong>Description</strong></label>
                	<textarea id="description" class="form-control" type="text" rows="10"
                	 name="project[description]"><%=project.description%>
                  </textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block">Edit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
