<div class="row main-content">
  <%if (projects.length > 0) {%>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6">
        <%
        if (user.userType === 'Family') {
          pgTitle = (myView)? "Your Tasks": "All Tasks"
        } else {
          pgTitle = (myView)? "Your Projects" : "All Projects"
        }
        %>
        <h2 class="main-page-title text-sm-left"><%= pgTitle%></h2>
      </div>
      <div class="col-12 col-sm-6" id="filter">
        <div class="main-page-title float-sm-right">
          <button type="button" class="btn btn-success pr-5 pl-5"><i data-feather="filter" class="icon-holder filter"></i>Filter</button>
        </div>
      </div>
      <div class="col-12">
        <div class="form-container bg-white mt-2 hide">
          <div class="form container-fluid form-content p-3">
              <form class="">
                <h6>Filter by category:</h6>
                    <%
                      let checkboxes = ['Uncategorized', 'At Home', 'In-campus', 'Outdoors'];
                      let checkboxesNames = ['uncategorized', 'athome', 'in-campus', 'outdoors'];
                      let checked = "";
                      for (let i = 0; i < checkboxes.length; i++) {
                        checked = (category.indexOf(checkboxes[i]) > -1) ? "checked" : ""; %>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input categoryCheckBox" name="<%=checkboxesNames[i]%>" id="<%=checkboxes[i]%>" <%=checked%>>
                          <label class="form-check-label" for="<%=checkboxes[i]%>">
                            <%=checkboxes[i]%>
                          </label>
                        </div>
                    <%}%>
                  <% if (user.userType !== 'Family' || myView) {%>
                  <hr>
                  <h6>Filter by status:</h6>
                    <%
                    checkboxes = ['Open', 'In-progress', 'Pending Approval', 'Closed'];
                    checkboxesNames = ['open', 'in-progress', 'pendingapproval', 'closed'];
                    checked = "";
                    for ( let i = 0; i < checkboxes.length; i++ )
                    {
                        checked = (status.indexOf(checkboxes[i]) > -1) ? "checked" : ""; %>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input statusCheckBox" name="<%=checkboxesNames[i]%>" id="<%=checkboxes[i]%>" <%=checked%>>
                          <label class="form-check-label" for="<%=checkboxes[i]%>">
                            <%=checkboxes[i]%>
                          </label>
                        </div>
                    <%}%>
                  <%}%>
                <div class="mt-3">
                  <button type="button" id="filter-submit" class="btn btn-outline-success pl-4 pr-4" value="Filter">Filter</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 pl-0 pr-0 pl-md-3 pr-md-3">
        <% var i = 0;
          color = ['blue', 'purple', 'brown', 'green' , 'red'];
          projects.forEach( (project) => {%>
          <div class="card border-<%=color[i]%> mb-3">
            <div class="card-header bg-<%=color[i]%> text-white">
              <div class="fluid-container">
                <div class="row">
                  <div class="col-xs-12 col-md-9 col-lg-11">
                    <a href="/projects/<%=project._id%>"><h2><%=project.name%></h2></a>
                  </div>
                  <div class="col-xs-12 col-md-3 col-lg-1">
                    <div class="tools float-right">
                      <a class="projectToggler">
                        <i data-feather="chevron-up" class="icon-holder chevron-up"></i>
                        <i data-feather="chevron-down" class="icon-holder chevron-down" style='display: none'></i>
                      </a>
                      <a class="more">
                        <i data-feather="more-horizontal" class="icon-holder more-horizontal"></i>
                        <i data-feather="more-vertical" class="icon-holder more-vertical" style='display: none'></i>
                      </a>
                      <a class="hideProject">
                        <i data-feather="x" class="icon-holder x"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 projectDescription"  style='display: none'>
                    <h5><%=project.description%></h5>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <% if(project.author.id.equals(user._id)) {%>
              <a class="btn btn-outline-success" href="/projects/<%=project._id%>/tasks/new">New Task</a>
              <%}%>
              <% tasks = project.tasks%>
              <%- include ../partials/tasks_table%>
            </div>
          </div>
        <%
        (i == (color.length -1)) ? (i = 0) : i++;
      })%>
      </div>
    </div>
  </div>
  <%} else {

     if (user.userType === 'Family') {
       text = (myView)? "You didn't sign up for any task yet, check all the open tasks to get started!"
                      : "No open tasks available, check again later!"
     } else {
       text = (myView)? "You don't have created projects, create new project to get started!"
                      : "No created projects! "
     } %>
     <h4><%= text%></h4>
  <%}%>
</div>
