<div class="row main-content">
  <div class="container-fluid">
    <div class="card border-blue mb-3 mt-3">
      <div class="card-header bg-blue text-white">
        <div class="fluid-container">
          <div class="row">
            <div class="col-xs-12 col-md-9 col-lg-11">
              <h2>
                <%if(project.isPTA){%>
                <span class="pta-sign icon-holder">PTO</span>
                <%}%>
                <a href="/projects/<%=project._id%>"> <%=project.name%></a>
            </h2>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-1">
              <div class="tools float-right">
                <a class="projectToggler">
                  <i data-feather="chevron-up" class="icon-holder chevron-up"></i>
                  <i data-feather="chevron-down" class="icon-holder chevron-down" style='display: none'></i>
                </a>
                <a class="more">
                  <i data-feather="more-horizontal" class="icon-holder more-horizontal"></i>
                  <i data-feather="more-vertical" class="icon-holder more-vertical" style='display: none'></i>
                </a>
                <a class="hideProject">
                  <i data-feather="x" class="icon-holder x"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <% if (project.description) {%>
            <div class="col-12 projectDescription">
              <h5><%=project.description%></h5>
            </div>
            <%}%>
            <div class="col-12">
              <p class="mt-1"><a href="/users/<%=project.author.id%>/profile"><%= project.author.displayName%></a></p>
            </div>
            <div class="col-12">
              <% if(project.author && project.author.id && project.author.id.equals(user._id)) {%>
              <a class="btn btn-warning" href="/projects/<%=project._id%>/edit">Edit</a>

              <%} if (user.userType == 'Admin') {%>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#<%=project._id%>deleteProjectModal">Delete</button>

              <!-- Modal -->
              <div class="modal fade" id="<%=project._id%>deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="text-dark-grey">The project will be <span class="text-red">permanently</span> deleted. All tasks will be removed and the assignees won't get their volunteer time.</p>

                      <p class="text-dark-grey font-weight-bold">You won't be able to undo this action.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <form id="delete-form" action="/projects/<%= project._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <%}%>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <% if(project.author && project.author.id && project.author.id.equals(user._id)) {%>
        <a class="btn btn-outline-success" href="/projects/<%=project._id%>/tasks/new">New Task</a>
        <%}%>
        <% tasks = project.tasks%>
        <%- include ../partials/tasks_table%>
      </div>
    </div>
  </div>
</div>
