<div class="row main-content">
  <div class="container-fluid">
		<div class="row">
      <div class="col-12">
        <h1 class="main-page-title"><%= project.name%></h1>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
			<div class="row">
				<div class="col-12 col-lg-10 col-xl-8">
					<div class="innerpage-container">
          <div class="row justify-content-between">
            <div class="col-4">
              <h5 class="font-weight-bold text-info">Created by</h5>
            </div>
            <div class="col-8">
              <h5><%= project.author.displayName%></h5>
            </div>
          </div>
          <hr>
          <div class="row justify-content-between">
            <div class="col-4">
              <h5 class="font-weight-bold text-info">Date</h5>
            </div>
            <div class="col-8">
              <h5><%= ("0" + (project.created.getMonth() + 1)).slice(-2)%>/<%= ("0" + project.created.getDate()).slice(-2)%>/<%= project.created.getFullYear()%></h5>
            </div>
          </div>
          <hr>
          <div class="row justify-content-between">
            <div class="col-4">
              <h5 class="font-weight-bold text-info">Description</h5>
            </div>
            <div class="col-8">
              <h5><%= project.description%></h5>
            </div>
          </div>
          <hr>
          <div class="row mt-5">
            <div class="col-12">
              <% if(project.author.id.equals(user._id)) {%>
              <a class="btn btn-outline-warning" href="/projects/<%=project._id%>/edit">Edit</a>
              <form id="delete-form" action="/projects/<%= project._id%>?_method=DELETE" method="POST">
              <button class="btn btn-outline-danger">Delete</button>
              <%}%>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
