<div class="row main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="main-page-title">Tasks</h1>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <div class="innerpage-container" id="tabs">
        	<div class="container">
        		<div class="row">
        			<div class="col-12">
                <h5 class="table-header">All volunteer tasks <%= text%></h5>
                <form>
                  <label for="statusFilter">Filter by Status</label>
                  <select name='statusFilter' id='statusFilter'>
                  <%
                  let options = ['All', 'Open', 'In-progress', 'Pending Approval', 'Closed'];
                  for ( let i = 0; i < options.length; i++ )
                  {
                      var selected = ( status == options[i] ) ? "selected" : "";
                      %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                  }
                  %>
                  </select>
                </form>
                <div class="table-responsive table-wrapper">
                     <table class="table table-striped table-bordered" id="table-data">
                      <thead>
                        <tr>
                          <th scope="col">Task</th>
                          <th scope="col">Status</th>
                          <th scope="col">Assigned to</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(tasks){ %>
                        <% tasks.forEach( (task) => {%>
                          <div class="row">
                            <tr>
                              <td><%= task.name %></td>
                              <td><%= task.status %></td>
                              <% if(task.assigned && task.assigned.displayName){ %>
                                <td>
                                 <i data-feather="check-circle" class="icon-holder check-circle"></i> <%= task.assigned.displayName%>
                                </td>
                              <%} else {%>
                                <td></td>
                              <%}%>
                              <td><a href="/tasks/<%=task._id%>">More Details</a></td>
                            </tr>
                          </div>
                        <%}); %>
                        <%}%>
                      </tbody>
                    </table>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
