<div class="row main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h5 class="main-page-title"><%= task.name %></h5>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <div class="innerpage-container">
        <% if(task.author) {%>
        <div class="row justify-content-between">
          <div class="col-2">
            <h5 class="font-weight-bold">Created by:</h5>
          </div>
          <div class="col-10">
            <h5><%= task.author.displayName %></h5>
          </div>
        </div>
        <%}%>
        <div class="row justify-content-between">
          <div class="col-2">
            <h5 class="font-weight-bold">Date:</h5>
          </div>
          <div class="col-10">
            <h5>
              <%= ("0" + (task.deadline.getMonth() + 1)).slice(-2)%>/<%= ("0" + task.deadline.getDate()).slice(-2)%>/<%= task.deadline.getFullYear()%>
            </h5>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-2">
            <h5 class="font-weight-bold">From:</h5>
          </div>
          <div class="col-10">
            <h5>
              <%
               let hrs = task.deadline.getHours();
               let mins = task.deadline.getMinutes();
              %>
              <%= ( "0" + ((hrs + 11) % 12 + 1)).slice(-2)%> : <%= ("0" + mins).slice(-2)%> <%= hrs >= 12 ? "PM":"AM"%>
            </h5>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-2">
            <h5 class="font-weight-bold">To:</h5>
          </div>
          <div class="col-10">
            <h5>
              <%
               hrs = task.endTime.getHours();
               mins = task.endTime.getMinutes();
              %>
              <%= ( "0" + ((hrs + 11) % 12 + 1)).slice(-2)%> : <%= ("0" + mins).slice(-2)%> <%= hrs >= 12 ? "PM":"AM"%>
            </h5>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-2">
            <h5 class="font-weight-bold">Project:</h5>
          </div>
          <div class="col-10">
            <h5><%= task.project.name %></h5>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-2">
            <h5 class="font-weight-bold">Status:</h5>
          </div>
          <div class="col-10">
            <h5><%= task.status %></h5>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-2">
            <h5 class="font-weight-bold">Assignee:</h5>
          </div>
          <div class="col-10">
            <% if(task.assignedTo) {%>
            <h5><%= task.assignedTo.displayName %></h5>
            <%} else {%>
              <h5>No volunteer</h5>
            <%}%>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-2">
            <h5 class="font-weight-bold">Estimated time:</h5>
          </div>
          <div class="col-10">
            <h5><%= task.estimatedTime %></h5>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-2">
            <h5 class="font-weight-bold">Volunteer time:</h5>
          </div>
          <div class="col-10">
            <h5><%= task.volunteerTime %></h5>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-2">
            <h5 class="font-weight-bold">Category:</h5>
          </div>
          <div class="col-10">
            <h5><%= task.category %></h5>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-2">
            <h5 class="font-weight-bold">Description:</h5>
          </div>
          <div class="col-10">
            <h5><%= task.description %></h5>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
          <% if(user.userType == 'Family') {%>
            <% if(task.status == 'Open') {%>
              <button class="btn btn-outline-success"><a href="/tasks/<%=task._id%>/signup">Signup</a></button>

            <% } else if(task.status == 'In-progress') {%>
              <button class="btn btn-outline-danger"><a href="/tasks/<%=task._id%>/cancel">Cancel</a></button>
              <button class="btn btn-outline-info"><a href="/tasks/<%=task._id%>/complete">Complete</a></button>
            <% } %>
          <%} else {%>
            <% if(task.status == 'Open') {%>
              <button class="btn btn-outline-warning"><a href="/tasks/<%=task._id%>/edit">Edit</a></button>
            <% } %>
            <% if(task.status == 'Pending Review') {%>
              <button class="btn btn-outline-success"><a href="/tasks/<%= task._id%>/approve">Approve</a></button>
              <button class="btn btn-outline-secondary"><a href="/tasks/<%= task._id%>/unapprove">Unapprove</a></button>
            <% } %>
          <% } %>
          <% if(user.userType == 'Admin') {%>
            <form id="delete-form" action="/tasks/<%= task._id%>?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger">Delete</button>
            </form>
          <%}%>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
