<div class="row main-content">
  <div class="container-fluid">
    <div class="card border-blue container-fluid">
      <div class="card-body">
        <div class="card-title">
          <h3><a href="/projects/<%=task.project.id%>/tasks/<%=task._id%>"><%= task.name %></a></h3>
          <p>Project | <%= task.project.name %></p>
          <p>Created | <%= task.author.displayName%>, <%=task.created.toDateString()%></p>
        </div>
        <div class="card-text">
          <div class="row">
            <div class="col-12">
              <p class="secondary-data">
                Due: <%= task.deadline.toDateString()%><br>
                <%
                 hrs = ( "0" + ((task.deadline.getHours() + 11) % 12 + 1)).slice(-2);
                 mins = ("0" + task.deadline.getMinutes()).slice(-2);
                 zone = (hrs >= 12) ? "PM":"AM"
                 fromTime =  hrs + ':' + mins + zone

                 if (task.endTime) {
                 toHrs = ( "0" + ((task.endTime.getHours() + 11) % 12 + 1)).slice(-2);
                 toMins = ("0" + task.endTime.getMinutes()).slice(-2);
                 zone = (toHrs >= 12) ? "PM":"AM"
                 toTime = "- " + toHrs + ':' + toMins + zone
               } else {
                 toTime = ""
               }
                %>
                (<%=fromTime%> <%=toTime%>)
              </p>
            </div>
            <div class="col-6">
            <% if(task.assignedTo && task.assignedTo.displayName){ %>
             <p><i data-feather="check-circle" class="icon-holder check-circle"></i><%= task.assignedTo.displayName%></p>
            <%} else {%>
              <p><i data-feather="circle" class="icon-holder circle"></i>No Volunteer</p>
            <%}%>
            </div>
            <div class="col-6">
            <%
              colors = {
                "Open"            : "primary",
                "In-progress"     : "warning",
                "Pending Approval": "info",
                "Closed"          : "success"
              }
              color = (task.status == "Open" || task.status == "In-progress" || task.status == "Pending Approval" || task.status == "Closed")? colors[task.status] : 'secondary'
            %>
            <p class="text-<%=color%>"><%= task.status %></p>
          </div>
          <div class="col-6">
            <p class="secondary-data" title="Volunteer Time"><i data-feather="clock" class="icon-holder clock"></i><%= task.volunteerTime %> mins</p>
          </div>
          <div class="col-6">
            <%
            shapes = {
              "Uncategorized": "code",
              "At Home": "home",
              "On-campus": "award",
              "Off-campus": "sun"
            }
            shape = (task.category == 'Uncategorized' || task.category == "At Home" || task.category == "On-campus" || task.category == "Off-campus")? shapes[task.category] : "code"
            %>
              <p><i data-feather="<%=shape%>" class="icon-holder <%=shape%> text-info"></i><%= task.category %></p>
          </div>

          <%if(task.description) {%>
          <div class="col-12">
            <h7>Description: </h7>
            <p><%= task.description%></p>
          </div>
          <%}%>
          <div class="col-12 mt-3">
            <form id='form-delete-<%=task._id%>' action="/projects/<%=task.project.id%>/tasks/<%=task._id%>?_method=DELETE" method="POST">
            </form>
            <form id="form-actions" action="/projects/<%=task.project.id%>/tasks/<%=task._id%>" class="form-actions" name="form-actions" method="POST">
              <div class="form-group form-input hide">
                <label for="task-time">task time?</label>
                <input id="task-time" class="form-control" type="text" value="<%=task.volunteerTime%>" name="task[volunteerTime]"
                required/>
              </div>
              <div class="form-group">
                <% if(user.userType == 'Family') {%>
                  <% if(task.status == 'Open') {%>
                    <button type="button" class="btn btn-outline-success" type="button"><a href="/projects/<%=task.project.id%>/tasks/<%=task._id%>/signup">Signup</a></button>
                  <% } else if(task.status == 'In-progress') {%>
                    <% if (task.isFixedTime == false) {%>
                    <button type="button" class="btn btn-outline-warning form-btn" type="button">Complete</button>
                    <input class="btn btn-outline-warning submit-action hide" type="submit" name="submit" value="Complete">
                    <%} else {%>
                    <input class="btn btn-outline-warning submit-action" type="submit" name="submit" value="Complete">
                    <%}%>
                    <button type="button" class="btn btn-outline-danger" type="button"><a href="/projects/<%=task.project.id%>/tasks/<%=task._id%>/cancel">Cancel</a></button>                <% } %>
                <%} else if(task.author.id.equals(user._id)) {%>
                  <% if(task.status == 'Pending Approval') {%>
                    <button class="btn btn-outline-success form-btn" type="button">Approve</button>
                    <input class="btn btn-outline-success submit-action hide" type="submit" name="submit" value="Approve"/>
                    <button type="button" class="btn btn-outline-secondary" type="button"><a href="/projects/<%=task.project.id%>/tasks/<%= task._id%>/unapprove">Unapprove</a></button>
                  <% } %>
                  <% if(task.status == 'Open') {%>
                    <button class="btn btn-outline-warning" type="button"><a href="/projects/<%=task.project.id%>/tasks/<%=task._id%>/edit"><i data-feather="edit" class="edit"></i></a></button>
                    <button class="btn btn-outline-danger submit-action" form='form-delete-<%=task._id%>' type="submit" name='submit' value="Delete"><i data-feather="trash-2" class="trash-2"></i></button>
                  <%}%>
                <% } %>
                </div>
              </form>
            </div>
          </div> <!-- row -->
        </div> <!-- card text -->
      </div>
    </div>
  </div>
</div>
