<div class="table-responsive table-wrapper" id='table-wrapper'>
     <table class="table" id="table-data">
      <thead>
        <tr>
          <th scope="col"><h5>Task</h5></th>
          <th scope="col"><h5>Status</h5></th>
          <th scope="col"><h5>Category</h5></th>
          <th scope="col"><h5>Description</h5></th>
          <th scope="col"><h5>Assigned to</h5></th>
          <th scope="col"></th>
        </tr>
      </thead>
        <% if(tasks){ %>
        <% tasks.forEach ( (task) => {%>
          <div class="row">
            <tr>
              <td class="row-head truncate-container">
                <h6 class="truncate-text"><a href="/tasks/<%=task._id%>"><%= task.name %></a></h6>
                <p class="secondary-data">
                  <%= task.deadline.toDateString()%><br>
                  <%
                   hrs = task.endTime.getHours();
                   mins = task.endTime.getMinutes();
                   toHrs = task.endTime.getHours();
                   toMins = task.endTime.getMinutes();
                  %>
                  (<%=( "0" + ((hrs + 11) % 12 + 1)).slice(-2)%>  : <%=("0" + mins).slice(-2)%>  <%=hrs >= 12 ? "PM":"AM"%> -
                  <%=( "0" + ((toHrs + 11) % 12 + 1)).slice(-2)%> : <%=("0" + toMins).slice(-2)%> <%=toHrs >= 12 ? "PM":"AM"%>)
                </p>
              </td>
              <td>
                <h7 class="table-head-view">Status:</h7>
                <%= task.status %>
              </td>
              <td>
                <h7 class="table-head-view">Category:</h7>
                <%= task.category %>
              </td>
              <td class="truncate-container">
                <h7 class="table-head-view">Description:</h7>
                <p class="truncate-text"><%= task.description%></p>
                <p class="secondary-data">Volunteer time: <%= task.volunteerTime %> mins</p>
              </td>
              <% if(task.assignedTo && task.assignedTo.displayName){ %>
                <td>
                  <h7 class="table-head-view">Assigned To:</h7>
                 <i data-feather="check-circle" class="icon-holder check-circle"></i> <%= task.assignedTo.displayName%>
                </td>
              <%} else {%>
                <td>
                  <i data-feather="x-circle" class="icon-holder x-circle"></i> No Volunteer
                </td>
              <%}%>
              <td>
                <form action="/tasks/<%=task._id%>?_method=PUT%>" class="actions-form" method="POST">
                  <div class="form-group form-input hide">
                    <label for="task-time">task time?</label>
                    <input id="task-time" class="form-control" type="text" value="<%=task.volunteerTime%>" name="task[volunteerTime]"
                    required/>
                  </div>
                  <div class="form-group">
                    <% if(user.userType == 'Family') {%>
                      <% if(task.status == 'Open') {%>
                        <button type="button" class="btn btn-outline-success" type="button"><a href="/tasks/<%=task._id%>/signup">Signup</a></button>
                      <% } else if(task.status == 'In-progress') {%>
                        <% if (!task.isFixedTime) {%>
                        <button type="button" class="btn btn-outline-warning form-btn" type="button">Complete</button>
                        <input class="btn btn-outline-warning submit-action hide" type="submit" name="submit" value="Complete">
                        <%} else {%>
                        <input class="btn btn-outline-warning submit-action" type="submit" name="submit" value="Complete">
                        <%}%>
                        <button type="button" class="btn btn-outline-danger" type="button"><a href="/tasks/<%=task._id%>/cancel">Cancel</a></button>                <% } %>
                    <%} else {%>
                      <% if(task.status == 'Pending Review') {%>
                        <button class="btn btn-outline-success form-btn" type="button">Approve</button>
                        <input class="btn btn-outline-success submit-action hide" type="submit" name="submit" value="Approve"/>
                        <button type="button" class="btn btn-outline-secondary" type="button"><a href="/tasks/<%= task._id%>/unapprove">Unapprove</a></button>
                      <% } %>
                      <% if(task.status == 'Open') {%>
                        <button class="btn btn-outline-warning" type="button"><a href="/tasks/<%=task._id%>/edit"><i data-feather="edit" class="edit"></i></a></button>
                      <% } else { %>
                        <button class="btn btn-outline-secondary type="button"" disabled><i data-feather="edit" class="edit"></i></button>
                      <%}%>
                      <% if((user.userType == 'Admin') || (task.author.id.equals(user._id))) {%>
                        <form id="delete-form" action="/tasks/<%= task._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-outline-danger"><i data-feather="trash-2" class="trash-2"></i></button>
                        </form>
                      <%}%>
                    <% } %>
                  </div>
                </form>
            </td>
            </tr>
          </div>
        <%}); %>
        <%}%>
      </tbody>
    </table>
</div>
