<div class="table-responsive table-wrapper" id='table-wrapper'>
     <table class="table" id="table-data">
      <% if(tasks && tasks.length > 0){ %>
      <thead>
        <tr>
          <th scope="col"><h5>Task</h5></th>
          <th scope="col"><h5>Signup</h5></th>
          <th scope="col"><h5>Status</h5></th>
          <th scope="col"><h5>Category</h5></th>
          <th scope="col"><h5>Description</h5></th>
          <th scope="col"></th>
        </tr>
      </thead>
    <tbody>
        <% tasks.forEach ( (task) => {%>
          <div class="row">
            <tr>
              <td class="row-head truncate-container cell-view-full mt-3">
                <h6 class="truncate-text"><a href="/projects/<%=task.project.id%>/tasks/<%=task._id%>"><%= task.name %></a></h6>
                <p class="secondary-data">
                  <%= task.deadline.toDateString()%><br>
                  <%
                   hrs = task.deadline.getHours();
                   mins = task.deadline.getMinutes();
                   toHrs = task.endTime.getHours();
                   toMins = task.endTime.getMinutes();
                  %>
                  (<%=( "0" + ((hrs + 11) % 12 + 1)).slice(-2)%>  : <%=("0" + mins).slice(-2)%>  <%=hrs >= 12 ? "PM":"AM"%> -
                  <%=( "0" + ((toHrs + 11) % 12 + 1)).slice(-2)%> : <%=("0" + toMins).slice(-2)%> <%=toHrs >= 12 ? "PM":"AM"%>)
                </p>
              </td>
              <% if(task.assignedTo && task.assignedTo.displayName){ %>
                <td class="cell-view">
                 <p><i data-feather="check-circle" class="icon-holder check-circle"></i> <%= task.assignedTo.displayName%></p>
                </td>
              <%} else {%>
                <td class="cell-view">
                  <p><i data-feather="x-circle" class="icon-holder x-circle"></i> No Volunteer</p>
                </td>
              <%}%>
              <td class="cell-view">
                <%
                  colors = {
                    "Open"            : "primary",
                    "In-progress"     : "warning",
                    "Pending Approval": "info",
                    "Closed"          : "success"
                  }
                  color = (task.status == "Open" || task.status == "In-progress" || task.status == "Pending Approval" || task.status == "Closed")? colors[task.status] : 'secondary'
                %>
                <p class="text-<%=color%>"><%= task.status %></p>
              </td>
              <td class="cell-view">
                <%
                  shapes = {
                    "Uncategorized": "code",
                    "At Home": "home",
                    "In-campus": "award",
                    "Outdoors": "sun"
                  }
                  shape = (task.category == 'Uncategorized' || task.category == "At Home" || task.category == "In-campus" || task.category == "Outdoors")? shapes[task.category] : "code"
                %>
                <p><i data-feather="<%=shape%>" class="icon-holder <%=shape%> text-info"></i><%= task.category %></p>
              </td>
              <td class="truncate-container cell-view-full">
                <%if(task.description) {%>
                <p class="truncate-text">Description: <%= task.description%></p>
                <%}%>
                <p class="secondary-data">Volunteer time: <%= task.volunteerTime %> mins</p>
              </td>
              <td>
                <form id='form-delete-<%=task._id%>' action="/projects/<%=task.project.id%>/tasks/<%=task._id%>?_method=DELETE" method="POST">
                </form>
                <form id="form-actions" action="/projects/<%=task.project.id%>/tasks/<%=task._id%>" class="form-actions" name="form-actions" method="POST">
                  <div class="form-group form-input hide">
                    <label for="task-time">task time?</label>
                    <input id="task-time" class="form-control" type="text" value="<%=task.volunteerTime%>" name="task[volunteerTime]"
                    required/>
                  </div>
                  <div class="form-group">
                    <% if(user.userType == 'Family') {%>
                      <% if(task.status == 'Open') {%>
                        <button type="button" class="btn btn-outline-success" type="button"><a href="/projects/<%=task.project.id%>/tasks/<%=task._id%>/signup">Signup</a></button>
                      <% } else if(task.status == 'In-progress') {%>
                        <% if (task.isFixedTime == false) {%>
                        <button type="button" class="btn btn-outline-warning form-btn" type="button">Complete</button>
                        <input class="btn btn-outline-warning submit-action hide" type="submit" name="submit" value="Complete">
                        <%} else {%>
                        <input class="btn btn-outline-warning submit-action" type="submit" name="submit" value="Complete">
                        <%}%>
                        <button type="button" class="btn btn-outline-danger" type="button"><a href="/projects/<%=task.project.id%>/tasks/<%=task._id%>/cancel">Cancel</a></button>                <% } %>
                    <%} else if(task.author.id.equals(user._id)) {%>
                      <% if(task.status == 'Pending Approval') {%>
                        <button class="btn btn-outline-success form-btn" type="button">Approve</button>
                        <input class="btn btn-outline-success submit-action hide" type="submit" name="submit" value="Approve"/>
                        <button type="button" class="btn btn-outline-secondary" type="button"><a href="/projects/<%=task.project.id%>/tasks/<%= task._id%>/unapprove">Unapprove</a></button>
                      <% } %>
                      <% if(task.status == 'Open') {%>
                        <button class="btn btn-outline-warning" type="button"><a href="/projects/<%=task.project.id%>/tasks/<%=task._id%>/edit"><i data-feather="edit" class="edit"></i></a></button>
                        <button class="btn btn-outline-danger submit-action" form='form-delete-<%=task._id%>' type="submit" name='submit' value="Delete"><i data-feather="trash-2" class="trash-2"></i></button>
                      <% } else { %>
                        <button class="btn btn-outline-secondary" type="button" disabled><i data-feather="edit" class="edit"></i></button>
                        <button class="btn btn-outline-secondary" type="buttom" value="Delete"><i data-feather="trash-2" class="trash-2"></i></button>
                      <%}%>
                    <% } %>
                  </div>
                </form>
              </td>
            </tr>
          </div>
        <%}); %>
      </tbody>
    <%}%>
    </table>
</div>
