<%- include ../common/header%>

  <div class="container-fluid">
    <div class="row">
      <div class="sidebar-container" id="sidebar">
        <div class="container-fluid">
          <div class="row sidebar-brand">
            <div class="col-12">
              <a class="brand-link" href="/users/<%=currentUser._id%>">
                <i data-feather="home" class="brand-logo"></i>
                <span class="brand-text"> Dashboard</span>
              </a>
            </div>
          </div>
          <div class="row sidebar-menu">
            <div class="col-12">
              <ul>
								<li class="sidebar-item">
                  <a href="/users/<%=currentUser._id%>" class="sidebar-link">
											<i data-feather="bookmark" class="icon-holder bookmark"></i>
                    <span class="sidebar-title">Your Projects</span>
                  </a>
                </li>
								<li class="sidebar-item">
                  <a href="/projects" class="sidebar-link">
										<i data-feather="list" class="icon-holder list"></i>
                    <span class="sidebar-title">All Projects</span>
                  </a>
                </li>
								<li class="sidebar-item">
                  <a href="/projects/new" class="sidebar-link">
										<i data-feather="plus-square" class="icon-holder plus-square"></i>
                    <span class="sidebar-title">New Project</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="/users/<%=currentUser._id%>/profile" class="sidebar-link">
                    <hr>
                    <i data-feather="user" class="icon-holder user"></i>
                    <span class="sidebar-title"> Profile</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="/logout" class="sidebar-link">
										<i data-feather="log-out" class="icon-holder log-out"></i>
                    <span class="sidebar-title"> Log Out</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main" id="main">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 topbar">
              <ul class="nav-left">
                <li>
                  <a href="#" id="sidebar-toggler">
                    <i data-feather="align-justify" class="icon-holder align-justify"></i>
                  </a>
                </li>
              </ul>
              <ul class="nav-right">
                <li>
                  <a href="/users/<%=currentUser._id%>/profile">
                    <i data-feather="user" class="user-logo"></i>
                    <span class="user-text"><%= currentUser.displayName %></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
