<%- include ../common/header%>

  <div class="container-fluid">
    <div class="row">
      <div class="sidebar-container" id="sidebar">
        <div class="container-fluid">
          <div class="row sidebar-brand">
            <div class="col-12">
              <a class="brand-link" href="/users/<%=currentUser._id%>">
                <i data-feather="home" class="brand-logo"></i>
                <span class="brand-text"> Dashboard</span>
              </a>
            </div>
          </div>
          <div class="row sidebar-menu">
            <div class="col-12">
              <ul>
								<li class="sidebar-item">
                  <a href="/users/<%=currentUser._id%>" class="sidebar-link">
                    <!-- <span class="icon-holder"> -->
                      <!-- <i class="fas fa-tasks"></i> -->
											<i data-feather="bookmark" class="icon-holder bookmark"></i>
                    <!-- </span> -->
                    <span class="sidebar-title">Your Tasks</span>
                  </a>
                </li>
								<li class="sidebar-item">
                  <a href="/workorders" class="sidebar-link">
										<i data-feather="list" class="icon-holder list"></i>
                    <span class="sidebar-title">All Tasks</span>
                  </a>
                </li>
								<li class="sidebar-item">
                  <a href="/workorders/new" class="sidebar-link">
										<i data-feather="plus-square" class="icon-holder plus-square"></i>
                    <span class="sidebar-title">New Task</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="/logout" class="sidebar-link">
                  	<hr>
										<i data-feather="log-out" class="icon-holder log-out"></i>
                    <span class="sidebar-title"> Log Out</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main" id="main">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 topbar">
              <ul class="nav-left">
                <li>
                  <a href="#" id="sidebar-toggler">
                    <i class="fas fa-bars"></i>
                  </a>
                </li>
              </ul>
              <ul class="nav-right">
                <li>
                  <a href="/users/<%=currentUser._id%>">
                    <i data-feather="user" class="user-logo"></i>
                    <span class="user-text"><%= currentUser.displayName %></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
