<div class="row main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h5 class="main-page-title">Users</h5>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <div class="table-container innerpage-container">
        <h5 class="table-header">All users</h5>
        <div class="table-responsive table-wrapper">
            <table class="table table-striped table-bordered" id="table-data">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Type</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% if(users) { %>
                <%  users.forEach( (foundUser) => { %>
                  <div class="row">
                    <tr>
                      <td><%= foundUser.displayName %></td>
                      <td><%= foundUser.userType %></td>
                      <td><a href="/users/<%=foundUser._id%>">More Details</a></td>
                      <td><a href="/users/<%=foundUser._id%>/edit" class="btn btn-xs btn-warning">Edit</a></td>
                      <td><form id="delete-form" action="/users/<%=foundUser._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-xs btn-danger">Delete</button>
                      </form></td>
                    </tr>
                  </div>
                <%}); %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
