<div class="row main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="main-page-title">Users</h1>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <div class="innerpage-container" id="tabs">
        	<div class="container">
        		<div class="row">
        			<div class="col-12">
                <div class="table-responsive table-wrapper">
                     <table class="table" id="table-data">
                      <thead>
                        <tr>
                          <th scope="col"><h5>Name</h5></th>
                          <th scope="col"><h5>Type</h5></th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(users){ %>
                        <% users.forEach( (foundUser) => {%>
                          <div class="row">
                            <tr>
                              <td class="row-head truncate-container">
                                <h6 class="truncate-text"><a href="/users/<%=foundUser._id%>/profile"><%= foundUser.displayName %></a></h6>
                              </td>
                              <td>
                                <h7 class="table-head-view">Type</h7>
                                <%= foundUser.userType %>
                              </td>
                              <td>
                                <button class="btn btn-outline-warning"><a href="/users/<%=foundUser._id%>/edit">Edit</a></button>
                                <form id="delete-form" action="/users/<%=foundUser._id%>?_method=DELETE" method="POST">
                                  <button class="btn btn-outline-danger">Delete</button>
                                </form>
                              </td>
                            </tr>
                          </div>
                        <%}); %>
                        <%}%>
                      </tbody>
                    </table>
                </div>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
