<div class="row main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="main-page-title">All Users</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <% var i = 0;
          color = ['blue', 'purple', 'brown', 'green' , 'red'];
          if(users){
           users.forEach( (foundUser) => {%>
          <div class="card  border-<%=color[i]%> mb-3">
            <div class="card-body">
              <h4 class="card-title truncate-text"><a href="/users/<%=foundUser._id%>/profile"><%= foundUser.displayName %></a></h4>
              <div class='card-text'>
                <div class="containe-fluid">
                  <div class="row">
                    <div class="col-6 col-sm-3 col-lg-2">
                      <h5>User Name</h5>
                    </div>
                    <div class="col-6 col-sm-9 col-lg-10">
                      <h6><%= foundUser.username %></h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 col-sm-3 col-lg-2">
                      <h5>User Type</h5>
                    </div>
                    <div class="col-6 col-sm-9 col-lg-10">
                      <h6><%= foundUser.userType %></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-4">
                  <% if (foundUser._id.equals(currentUser._id)){%>
                    <a class="btn btn-outline-info" href="/users/<%=foundUser._id%>/changepassword">Change Password</a>
                  <%}%>
                  <% if (currentUser.userType === 'Admin') {%>
                    <% if (!foundUser._id.equals(currentUser._id)){%>
                      <button class="btn btn-outline-info"><a href="/users/<%=foundUser._id%>/reset">Reset Password</a></button>
                    <%}%>
                    <button class="btn btn-outline-warning"><a href="/users/<%=foundUser._id%>/edit">Edit</a></button>
                    <form id="delete-form" action="/users/<%=foundUser._id%>?_method=DELETE" method="POST">
                    <% if (!foundUser._id.equals(currentUser._id)){%>
                      <button class="btn btn-outline-danger">Delete</button>
                    <%}%>
                    </form>
                  <%}%>
                </div>
              </div>
            </div>
          </div>
        <%
        (i == (color.length -1)) ? (i = 0) : i++;
        });
        }%>
      </div>
    </div>
  </div>
