<div class="row main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="main-page-title">All Users</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <% var i = 0;
          color = ['blue', 'purple', 'brown', 'green' , 'red'];
          if(users){
           users.forEach( (foundUser) => {%>
          <div class="card  border-<%=color[i]%> mb-3">
            <div class="card-body">
              <h4 class="card-title truncate-text"><a href="/users/<%=foundUser._id%>/profile"><%= foundUser.displayName %></a></h4>
              <div class='card-text'>
                <div class="containe-fluid">
                  <div class="row">
                    <div class="col-6 col-sm-3 col-lg-2">
                      <h5>User Name</h5>
                    </div>
                    <div class="col-6 col-sm-9 col-lg-10">
                      <h6><%= foundUser.username %></h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 col-sm-3 col-lg-2">
                      <h5>User Type</h5>
                    </div>
                    <div class="col-6 col-sm-9 col-lg-10">
                      <h6><%= foundUser.userType %></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-4">
                  <% if (foundUser._id.equals(currentUser._id)){%>
                    <a class="btn btn-outline-info" href="/users/<%=foundUser._id%>/changepassword">Change Password</a>
                  <%}%>
                  <% if (currentUser.userType === 'Admin') {%>
                    <% if (!foundUser._id.equals(currentUser._id)){%>
                      <button class="btn btn-outline-info"><a href="/users/<%=foundUser._id%>/reset">Reset Password</a></button>
                    <%}%>
                    <button class="btn btn-outline-warning"><a href="/users/<%=foundUser._id%>/edit">Edit</a></button>
                    
                    <% if (!foundUser._id.equals(currentUser._id)){%>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#<%=foundUser._id%>deleteModal">Delete</button>
                    
                      <!-- Modal -->
                      <div class="modal fade" id="<%=foundUser._id%>deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <% if (foundUser.userType === 'Family'){%>
                                <p>Are you sure you want to proceed? This user will be <span class="text-red">permanently</span> deleted and all the user's data will be lost.</p>
    
                                <% } else {%>
    
                                  <p>Are you sure you want to proceed? This user will be <span class="text-red">permanently</span> deleted and the user's created projects will be lost.</p>
                                  <p>Tasks with status 'Closed' will remain. Family users will keep their volunteer time for closed tasks.</p>
    
                                <% } %>

                                <p class="font-weight-bold">You won't be able to undo this action.</p>

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <form id="form-delete-<%=foundUser._id%>" action="/users/<%=foundUser._id%>?_method=DELETE" method="POST">
                              <button class="btn btn-outline-danger submit-action" form='form-delete-<%=foundUser._id%>' type="submit" name='submit' value="Delete"><i data-feather="trash-2" class="trash-2"></i></button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    <%}%>
                  <%}%>
                </div>
              </div>
            </div>
          </div>
        <%
        (i == (color.length -1)) ? (i = 0) : i++;
        });
        }%>
      </div>
    </div>
  </div>
