<div class="row main-content">
  <div class="container-fluid">
		<div class="row">
      <div class="col-12">
        <h1 class="main-page-title"><%= user.displayName%></h1>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
			<div class="row">
				<div class="col-12 col-lg-10 col-xl-8">
					<div class="innerpage-container">
          <%if (user.userType === 'Family') {%>
          <div class="row justify-content-between">
            <div class="col-12">
              <%
              vPtaHr = (Math.floor(ptaVolunteerTime /60))? Math.floor(ptaVolunteerTime /60)+"hrs " : ""
              vPtaMin = (ptaVolunteerTime %60)? ptaVolunteerTime %60+"mins ": ""
              vPtaHr = (!vPtaHr && !vPtaMin)? "0 " : vPtaHr
              rPtaHr = (Math.floor(user.requiredPtaVolunteerTime/60))? Math.floor(user.requiredPtaVolunteerTime/60)+ "hrs ": ""
              rPtaMin = (user.requiredPtaVolunteerTime%60) ? (user.requiredPtaVolunteerTime%60)+ "mins " : ""
              rPtaHr = (!rPtaHr && !rPtaMin)? "0 " : rPtaHr
              ptaPerc = (ptaVolunteerTime < (user.requiredVolunteerTime + user.requiredPtaVolunteerTime))? (ptaVolunteerTime / (user.requiredVolunteerTime + user.requiredPtaVolunteerTime))*100 : 100
              ptaPerc = Math.round(ptaPerc)

              vHr = (Math.floor(volunteerTime /60))? Math.floor(volunteerTime /60)+"hrs " : ""
              vMin = (volunteerTime %60)? volunteerTime %60+"mins ": ""
              vHr = (!vHr && !vMin)? "0 " : vHr
              rHr = (Math.floor(user.requiredVolunteerTime/60))? Math.floor(user.requiredVolunteerTime/60)+ "hrs ": ""
              rMin = (user.requiredVolunteerTime%60) ? (user.requiredVolunteerTime%60)+ "mins " : ""
              rHr = (!rHr && !rMin)? "0 " : rHr
              perc = (volunteerTime < user.requiredVolunteerTime)? (volunteerTime / (user.requiredVolunteerTime + user.requiredPtaVolunteerTime ))*100 :
                    (user.requiredVolunteerTime / (user.requiredVolunteerTime + user.requiredPtaVolunteerTime ))*100
              perc = Math.round(perc)

              totalPerc = perc + ptaPerc
              totalPerc = (totalPerc < 100)? totalPerc : 100
              %>
              <div class="row">
                <div class="col-12 text-center">
                  <h5 class="font-weight-bold text-info">Total Volunteer Time</h5>
                </div>
                <div class="col-12">
                  <div class="c100 p<%=totalPerc%> green center-block">
                    <span><%=totalPerc%>%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <div class="row text-center mt-4 mb-4">
                    <div class="col-6 border-right">
                      <div class="h4 font-weight-bold mb-0">PTO</div>
                      <span class="text-gray"><%= vPtaHr%> <%= vPtaMin%>/ <%= rPtaHr%> <%= rPtaMin%> minimum required volunteering</span>
                    </div>
                    <div class="col-6">
                      <div class="h4 font-weight-bold mb-0">Non PTO</div>
                      <span class="text-gray"><%= vHr%> <%= vMin%>/ <%= rHr%> <%= rMin%> maximum volunteering credit</span>
                      <%if( volunteerTime > user.requiredVolunteerTime) {%>
                      <p class="text-red">You earn <%= rHr%> <%= rMin%> only!</p>
                      <%}%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <%}%>
          <% if (user._id.equals(currentUser._id) || (currentUser.userType !== 'Family')){%>
          <div class="row justify-content-between">
            <div class="col col-sm-6">
              <h5 class="font-weight-bold text-info pl-2">Username</h5>
            </div>
            <div class="col col-sm-6">
              <h5 class="pl-2"><%= user.username%></h5>
            </div>
          </div>
          <hr>
          <%}%>
          <div class="row justify-content-between">
            <div class="col col-sm-6">
              <h5 class="font-weight-bold text-info pl-2">Email</h5>
            </div>
            <div class="col col-sm-6">
              <h5 class="pl-2"><%= user.email%></h5>
            </div>
          </div>
          <% if (user._id.equals(currentUser._id) || (currentUser.userType !== 'Family')){%>
          <hr>
          <div class="row justify-content-between">
            <div class="col col-sm-6">
              <h5 class="font-weight-bold text-info pl-2">User Type</h5>
            </div>
            <div class="col col-sm-6">
              <h5 class="pl-2"><%= user.userType%></h5>
            </div>
          </div>
          <%}%>
          <div class="row mt-5">
            <div class="col-12">
              <% if (user._id.equals(currentUser._id)){%>
                <a class="btn btn-outline-info" href="/users/<%=user._id%>/changepassword">Change Password</a>
              <%}%>
              <% if (currentUser.userType === 'Admin') {%>
                <% if (!currentUser._id.equals(user._id)){%>
                  <button class="btn btn-outline-info"><a href="/users/<%=user._id%>/reset">Reset Password</a></button>
                <%}%>
                <a class="btn btn-outline-warning" href="/users/<%=user._id%>/edit">Edit</a>
                <form id="delete-form" action="/users/<%= user._id%>?_method=DELETE" method="POST">
                  <% if (!user._id.equals(currentUser._id)){%>
                  <button class="btn btn-outline-danger">Delete</button>
                  <%}%>
                </form>
              <%}%>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
