<div class="row main-content">
  <div class="container-fluid">
		<div class="row">
      <div class="col-12">
        <h1 class="main-page-title"><%= user.displayName%></h1>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
			<div class="row">
				<div class="col-12 col-lg-10 col-xl-8">
					<div class="innerpage-container">
          <div class="row justify-content-between">
            <div class="col-4">
              <h5 class="font-weight-bold text-info">User Type</h5>
            </div>
            <div class="col-8">
              <h5><%= user.userType%></h5>
            </div>
          </div>
          <%if (user.userType === 'Family') {%>
          <hr>
          <div class="row justify-content-between">
            <div class="col-4">
              <h5 class="font-weight-bold text-info">Volunteer Time</h5>
            </div>
            <div class="col-8">
              <%
              vHr = (Math.floor(volunteerTime /60))? Math.floor(volunteerTime /60)+"hrs " : ""
              vMin = (volunteerTime %60)? volunteerTime %60+"mins ": ""
              vHr = (!vHr && !vMin)? "0 " : vHr
              rHr = (Math.floor(user.requiredVolunteerTime/60))? Math.floor(user.requiredVolunteerTime/60)+ "hrs ": ""
              rMin = (user.requiredVolunteerTime%60) ? (user.requiredVolunteerTime%60)+ " mins" : ""
              rHr = (!rHr && !rMin)? "0 " : rHr
              %>
              <h5><%= vHr%> <%= vMin%> (out of <%= rHr%> <%= rMin%>)</h5>
            </div>
          </div>
          <hr>
          <%}%>
          <% if (user.userType === 'Admin') {%>
          <div class="row mt-5">
            <div class="col-12">
              <a class="btn btn-outline-warning" href="/users/<%=user._id%>/edit">Edit</a>
              <form id="delete-form" action="/users/<%= user._id%>?_method=DELETE" method="POST">
                <% if (user._id.equals(currentUser._id)){%>
                  <button class="btn btn-outline-secondary" disabled>Delete</button>
                <%} else {%>
                <button class="btn btn-outline-danger">Delete</button>
                <%}%>
            </div>
          </div>
          <%}%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
