<div class="row main-content">
  <div class="container-fluid">
		<div class="row">
      <div class="col-12">
        <h1 class="main-page-title"><%= user.displayName%></h1>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
			<div class="row">
				<div class="col-12 col-lg-10 col-xl-8">
					<div class="innerpage-container">

          <% if (user._id.equals(currentUser._id) || (currentUser.userType !== 'Family')){%>
          <div class="row justify-content-between">
            <div class="col col-sm-6">
              <h5 class="font-weight-bold text-info pl-2">Username</h5>
            </div>
            <div class="col col-sm-6">
              <h5 class="pl-2"><%= user.username%></h5>
            </div>
          </div>
          <hr>
          <%}%>
          <div class="row justify-content-between">
            <div class="col col-sm-6">
              <h5 class="font-weight-bold text-info pl-2">Email</h5>
            </div>
            <div class="col col-sm-6">
              <h5 class="pl-2"><%= user.email%></h5>
            </div>
          </div>
          <% if (user._id.equals(currentUser._id) || (currentUser.userType !== 'Family')){%>
          <hr>
          <div class="row justify-content-between">
            <div class="col col-sm-6">
              <h5 class="font-weight-bold text-info pl-2">User Type</h5>
            </div>
            <div class="col col-sm-6">
              <h5 class="pl-2"><%= user.userType%></h5>
            </div>
          </div>
          <%}%>
          <div class="row mt-5">
            <div class="col-12">
              <% if (user._id.equals(currentUser._id)){%>
                <a class="btn btn-outline-info" href="/users/<%=user._id%>/changepassword">Change Password</a>
              <%}%>
              <% if (currentUser.userType === 'Admin') {%>
                <% if (!currentUser._id.equals(user._id)){%>
                  <button class="btn btn-outline-info"><a href="/users/<%=user._id%>/reset">Reset Password</a></button>
                <%}%>
                <a class="btn btn-outline-warning" href="/users/<%=user._id%>/edit">Edit</a>
                <form id="delete-form" action="/users/<%= user._id%>?_method=DELETE" method="POST">
                  <% if (!user._id.equals(currentUser._id)){%>
                  <button class="btn btn-outline-danger">Delete</button>
                  <%}%>
                </form>
              <%}%>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
